# Python
__pycache__/
*.py[cod]
venv/
.env
*.egg-info/

# Node
node_modules/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Uploads
/tmp/resume_uploads/

# IDE
.vscode/
.idea/
*.swp
